body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./bg.jpg);
    background-size: cover;
}

.container {
    width: 80%;
    max-width: 600px;
}

.card h2 {
    color: #000;
}

.card {
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
}
label {
    width: 96%;
    margin-bottom: 40px;
    margin-bottom: 10px;
    border-radius: 4px;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select {
    width: 100%;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}




.thank-you-message {
    margin-top: 50px;
    font-size: 24px;
}

.redirect-message {
    margin-top: 20px;
    font-size: 18px;
    color: grey;
}

.redirect-link {
    margin-top: 20px;
    font-size: 18px;
    color: blue;
}


@-moz-keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: 50px;
    }
}

@-webkit-keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: 50px;
    }
}

@keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: 50px;
    }
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: 120px;
    }
}

@-webkit-keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: 120px;
    }
}

@-moz-keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: 120px;
    }
}

input[type=checkbox] {
    display: none;
}

.check-box {
    height: 120px;
    width: 120px;
    background-color: transparent;
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.4s;
    -o-transition: border-color ease 0.4s;
    -webkit-transition: border-color ease 0.4s;
    transition: border-color ease 0.4s;
    cursor: pointer;
}

.check-box::before,
.check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 10px;
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    -webkit-transition: opacity ease .5;
    -moz-transition: opacity ease .5;
    transition: opacity ease .5;
}

.check-box::before {
    top: 87px;
    left: 48px;
    /* box-shadow: 0 0 0 5px #fff; */
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.check-box::after {
    top: 49px;
    left: 10px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type=checkbox]:checked+.check-box,
.check-box.checked {
    border-color: #34b93d;
}

input[type=checkbox]:checked+.check-box::after,
.check-box.checked::after {
    height: 50px;
    -moz-animation: dothabottomcheck 0.4s ease 0s forwards;
    -o-animation: dothabottomcheck 0.4s ease 0s forwards;
    -webkit-animation: dothabottomcheck 0.4s ease 0s forwards;
    animation: dothabottomcheck 0.4s ease 0s forwards;
}

input[type=checkbox]:checked+.check-box::before,
.check-box.checked::before {
    height: 120px;
    -moz-animation: dothatopcheck 0.8s ease 0s forwards;
    -o-animation: dothatopcheck 0.8s ease 0s forwards;
    -webkit-animation: dothatopcheck 0.8s ease 0s forwards;
    animation: dothatopcheck 0.8s ease 0s forwards;
}

.cbox {
    display: flex;
    justify-content: center;
    align-items: center;
}